body {
    background-color: #000;
}

.main {
    width: 208px;
    margin: 0 auto;
    padding: 10px 8px 8px 10px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 0;
    border-radius: 5px;
    overflow: auto;
    position: relative;
}

img {
    border-radius: 3px;
    float: left;
}

.big {
    margin: 0 2px 2px 0;
}

.big div {
    position: absolute;
    top: 0;
    left: 0;
    width: 154px;
    height: 154px;
    display: none;
    opacity: 0.5;
    background: #fff url(images/loading.gif) 50% 50% no-repeat;
}

.small {
    margin: 0 2px 2px 0;
}

.small:hover {
    cursor: pointer;
}
