.main {
    width: 600px;
    margin: 0 auto;
}

label {
    color: #ccc;
    margin-left: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.out {
    font-size: 50px;
    color: #f00;
}
