body {
    background-color: #7cf17c;
}

.main {
    width: 700px;
    margin: 0 auto;
    overflow: auto;
}

.container {
    width: 10px;
    height: 10px;
    padding: 5px;
    float: left;
    margin-left: 10px;
}

.container div {
    width: 10px;
    height: 10px;
}

#box_1 {
    background-color: #f00;
}

#box_2 {
    background-color: #0f0;
}

#box_2 div {
    background-color: #fff;
}

#box_3 {
    background-color: #000;
}

nav {
    clear: both;
}

ul,
li {
    float: left;
    list-style: none;
    padding: 0;
    background-color: #0f0;
}

li {
    display: block;
    width: 80px;
    height: 20px;
    text-align: center;
    border: 1px solid #fff;
}

li a {
    text-decoration: none;
    color: #fff;
}

li a:hover {
    text-decoration: underline;
}
