.init {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	padding: 20px;
	background-color: #000;
}

.init p {
	font-size: 12px;

	color: #fff;
}

.in {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	padding: 10px;
	border: 10px solid #f00;
	cursor: crosshair;
	background-color: #ccc;
}

.in p {
	font-size: 12px;

	color: #f00;
}