.main {
    width: 300px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 25px;
    color: blue;
}

button {
	cursor: pointer;
}

.info {
    width: 100px;
    text-indent: 5px;
    margin-top: 5px;
    border: 1px solid blue;
    display: none;
    cursor: pointer;
}

.close {
    width: 100px;
    text-indent: 5px;
    border-top: 1px solid blue;
}

.info div:hover {
    background-color: #5d5de8;
}

.close:hover {
    background-color: #5d5de8;
}
